<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets</title>
    <link rel="stylesheet" href="styles/styles.css">

</head>
<body>
    <h1>Pets</h1>
    <h2> Pets are cool.</h2>
    <h3> We should all own Pets!</h3>
    <h4> We should all own all Pets (including wild animals)!</h4>
    <h5> So what are you waiting for? Go buy a pet now!</h5>

    <a href="cats">Click Here to view another page!</a>
    <img id="petsImg" src="images/pets.jpg" class="img-fluid align-middle" alt="pets image">
</body>
</html>